[options]
admin_passwd = {{ADMIN_PASSWD}}

db_host = False
db_port = False
db_user = odoo
db_password = False

; Force a deterministic default database name
db_name = {{DB_NAME}}

addons_path = /opt/odoo/odoo{{ODOO_VERSION}}/odoo/addons,/opt/odoo/custom-addons
logfile = /var/log/odoo/odoo{{ODOO_VERSION}}.log

xmlrpc_port = 8069
longpolling_port = 8072

proxy_mode = True